header {
  max-width: 660px;
  margin-bottom: 50px;
  line-height: 1;

  h1 {
    margin: 0;
    color: $brand-primary;
    font-weight: bold;
    font-size: 130px;

    @include media(sm) { font-size: 90px; }

    > a { text-decoration: none; }
  }

  h2 {
    margin: 10px 0 0 0;
    font-size: 52px;

    @include media(sm) { font-size: 42px; }
  }
}
