extends layouts/_owo.pug

block variables
  - var htmlTitle = "faq";
  - var pageTitle = "FAQ";

block content
  .faq-box#where-is-the-data-stored
    h3 #[a(href='#where-is-the-data-stored') Where is the data stored?]
    p.
      Our data is stored on Hetzner in Germany. You must conform to Germany's
      laws and Hetzner's policies in order to use this service. Heavily
      encrypted backups are stored in Exoscale SOS in Switzerland to improve
      resiliency against data loss.

  .faq-box#how-do-i-use-this-service
    h3 #[a(href='#how-do-i-use-this-service') How do I use this service?]
    p.
      Once you have an account, you will be given information on how to setup
      your device to use the service as the file hosting platform. In case
      you're wondering, we do support Windows through
      #[a(href='https://getsharex.com' target='_blank') ShareX] and Linux/MacOS
      through
      #[a(href='https://github.com/whats-this/owo.sh' target='_blank') owo.sh].
      Most other Pomf-compatible clients (multipart/formdata) for file uploads
      or Polr-compatible clients for link shortening are supported.

  .faq-box#private-beta
    h3 #[a(href='#private-beta') Private? Beta? I wanna upload NOW!]
    p.
      Currently we aren't accepting new users through a signup form, as we're
      still in beta and are constantly making improvements and updates to our
      infrastructure. We hope to be accepting users through a signup form in the
      future. If you want to try your luck at convincing Dean or Aurieh to give
      you an account over email, be our guest.

  .faq-box#maximum-filesize
    h3 #[a(href='#maximum-filesize') What's the maximum filesize I can upload?]
    p.
      Currently, the maximum filesize that the server will accept is 100MB. This
      limit applies per request, and up to three files can be uploaded in one
      request. This may be changed in the future, but currently we feel that
      this gives users enough room to upload what they want and not cause us to
      have to pay an overly large bill for storage and bandwidth.

  .faq-box#permitted-filetypes
    h3 #[a(href='#permitted-filetypes') What filetypes are allowed?]
    p.
      Previously, we only allowed extensions/mime-types that were in a
      whitelist. Now we allow all filetypes and mime-types. The Content-Type of
      the served content will be set to the Content-Type of the multipart
      field's Content-Type, but defaults to application/octect-stream if not
      supplied. All content is scanned immediately after upload, and every 48
      hours.

  //- h3 Are there any libraries or CLI wrappers?
  //- h5#a The current libraries and CLI wrappers you can use are:
  //-   ul
  //-     li
  //-       a(href='https://github.com/whats-this/owo.rb' target='_blank') Ruby Wrapper&nbsp;
  //-       |made by
  //-       a(href='https://github.com/TriggerRimfire' target='_blank')  TriggerRimfire
  //-     li
  //-       a(href='https://github.com/whats-this/owo.py' target='_blank') Python Wrapper&nbsp;
  //-       |made by
  //-       a(href='https://github.com/martmists' target='_blank')  Martmists
  //-     li
  //-       a(href='https://github.com/whats-this/owo.sh' target='_blank') Shell Script&nbsp;
  //-       |made by
  //-       a(href='https://github.com/jakeoid' target='_blank')  Jakeoid&nbsp;
  //-       |&
  //-       a(href='https://github.com/OkashiOdayakana' target='_blank')  Okashi
  //-     li
  //-       a(href='https://github.com/whats-this/owo.go' target='_blank') Go Wrapper&nbsp;
  //-       |made by
  //-       a(href='https://github.com/zet4' target='_blank')  zet4&nbsp;
  //-       |&
  //-       a(href='https://github.com/cking' target='_blank')  cking
  //-     li
  //-       a(href='https://github.com/noud02/owo-ios.py' target='_blank') Uploader script for iOS&nbsp;
  //-       |made by
  //-       a(href='https://github.com/noud02' target='_blank')  noud02

  .faq-box#how-to-access-files
    h3 #[a(href='#how-to-access-files') How can I access files that have been uploaded to the service?]
    p.
      Our service serves content from many "vanity" URLs, all over HTTPS. File
      hosting shares the same domains as the link shortener. We don't have a
      control panel, yet, but it is planned.

    p.
      This list is also available as a human-and-machine-readable list at
      #[a(href='/public-cdn-domains.txt') https://whats-th.is/public-cdn-domains.txt].
      The changelog for this list can be found at
      #[a(href='/public-cdn-domains.changelog.txt') https://whats-th.is/public-cdn-domains.changelog.txt].

    h4 You can find the service at:
    ul
      li #[code owo.whats-th.is]
      li #[code all.foxgirlsare.sexy]
      li #[code awau.moe]
      li #[code b1nzy-pruned.us]
      li #[code bad-me.me]
      li #[code buttsare.sexy]
      li #[code can-i-ask-dean-on-a.date]
      li #[code cat.girlsare.life]
      li #[code discord.coffee]
      li #[code fox.girlsare.life]
      li #[code i-hate.dabbot.org]
      li #[code i-need.discord.cards]
      li #[code i-was-scammed-by.dabbot.org]
      li #[code i.am-a.ninja]
      li #[code i.stole-a-me.me]
      li #[code is-fi.re]
      li #[code kotlin-for.life]
      li #[code light-theme-hurts.my-ey.es]
      li #[code nyanyanya.moe]
      li #[code o.lol-sa.me]
      li #[code owo.sh]
      li #[code owo.solutions]
      li #[code pantsu.review]
      li #[code pls-fuck.me]
      li #[code quak.ovh]
      li #[code thats-a.link]
      li #[code theworstme.me]
      li #[code totally-not.a-sketchy.site]
      li #[code uwu.whats-th.is]
      li #[code why-are-you-buying-clothes-at.the-soup.store]
      li #[code whyisroadcrossercoolerthan.me]

    h4 Additionally, we have a few wildcarded subdomains:
    ul
      li #[code *.are-la.me]
      li #[code *.are-pretty.sexy]
      li #[code *.at-work.today]
      li #[code *.bad-me.me]
      li #[code *.banned.today]
      li #[code *.in-my.life]
      li #[code *.in-this.world]
      li #[code *.is-serious.business]
      li #[code *.is-a-bad-waifu.com]
      li #[code *.is-a-good-waifu.com]
      li #[code *.is-a-professional-domain.com]
      li #[code *.is-bad.com]
      li #[code *.is-fi.re]
      li #[code *.is-going-to.space]
      li #[code *.is-into.men]
      li #[code *.is-la.me]
      li #[code *.is-over.party]
      li #[code *.is-pretty.cool]
      li #[code *.is-pretty.fun]
      li #[code *.is-pretty.sexy]
      li #[code *.is-real.life]
      li #[code *.is-serious.business]
      li #[code *.might-be-super.fun]
      li #[code *.needs-to-s.top]
      li #[code *.pls-fuck.me]
      li #[code *.ratelimited.today]
      li #[code *.should-be.legal]
      li #[code *.theworstme.me]
      li #[code *.while-at.school]
      li #[code *.while-at.work]

    p.
      Wildcards can have anything thrown in front of them (as long as it doesn't
      contain an extra period!). For example, I can use
      #[code owo.is-pretty.cool] to access files on the file CDN, but I can't
      use #[code whats.this.is-pretty.cool], because #[code whats.this] contains
      an extra period.

    p.
      Visiting any of these links in your browser without a path will redirect
      you back to the homepage.

  .faq-box#remove-requests
    h3 #[a(href='#remove-requests') I don't like something hosted here. Can you remove it?]
    p.
      We're sorry to hear about that. If any images infringe on your rights or
      the rights of an entity you represent, please shoot us an email using the
      contact link in the footer of this page and we will try to get back to you
      as soon as possible. Make sure to provide us with the URL(s) of the
      content in question or we will be unable to find the files on our system.
