extends layouts/_owo.pug

block variables
  - var htmlTitle = "home";
  - var pageTitle = "A private, Pomf-compatible file host.";

block content
  p.
    All accounts are given with approval from Dean
    <small>(#[a(href='https://keybase.io/deansheather' target='_blank') Keybase])</small>:
  input#email(value='dean@whats-th.is' readonly)

block scripts
  script(type='text/javascript')
    include partials/_email-autoselect.js
