extends layouts/_owo.pug

block variables
  - var htmlTitle = "home";
  - var pageTitle = "A private, Pomf-compatible file host.";

block content
  p.
    All accounts are given with approval from
    #[a(href='https://keybase.io/deansheather' target='_blank') Dean] or
    #[a(href='https://keybase.io/aurieh' target='_blank') Aurieh] (make sure you
    include your key and encrypt for both of us if you use PGP):
  input#email(value='devs@whats-th.is' readonly)

block scripts
  script(type='text/javascript')
    include partials/_email-autoselect.js
  script(type='text/javascript')
    include partials/_update_header.js
