@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

/* ************** */

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	padding-top: 25px;
	background: #448CCB;
	color: #fff;
	text-align: justify;
}
a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
b {
	font-weight: bold;
}
hr {
	border-top: 1px solid #1d1d1d;
	border-bottom: none;
}
input, select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea:focus, input:focus {
	outline: none;
}
::-webkit-input-placeholder {
	color: #ffffff;
}
:-moz-placeholder {
	color: #ffffff;
}
::-moz-placeholder {
	color: #ffffff;
}
:-ms-input-placeholder {
	color: #ffffff;
}
::selection {
	background: #448CCB;
	color: #FFFFFF;
}
::-moz-selection {
	background: #448CCB;
	color: #FFFFFF;
}
h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px 25px;
}

/* ************** */

.container {
	margin: auto;
	max-width: 540px;
}

/* ************** */

.sitename {
	color: #fff;
	font-size: 128px;
	font-weight: 700;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	cursor: hand;
}

.sitename > a {
	text-decoration: none;
}

.sitedesc {
	color: #fff;
	margin: 10px 0px 32px 0px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

/* ************** */

.center {
	text-align: center;
}

.email {
	margin-top: 25px;
	padding: 10px 25px;
	color: #448CCB;
	background: #FFFFFF;
	font-weight: bold;
	text-align: center;
	width: 100%;
	border: none;
	border-radius: 2px;
	font-size: 16px;
}

/* ************** */

.question {
	padding: 10px 20px;
	font-weight: bold;
	text-transform: uppercase;
	background: #FFFFFF;
	color: #448CCB;
	border-radius: 2px;
}

.answer {
	padding: 10px 20px 40px 20px;
	line-height: 20px;
}

.answer > div {
	padding: 10px;
	text-align: center;
}

.answer > div > ul > li {
	padding: 15px 5px;
	background: rgba(255,255,255,0.1);
	margin: 5px;
	text-align: center;
}

.answer > div > ul > a > li {
	padding: 15px 5px;
}

.answer > .foot {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

ul > a > li {
	background: rgba(255,255,255,0.1);
	border-radius: 2px;
	margin: 5px;
	text-align: center;
}

/* ************** */

.footer {
	width: 100%;
	text-align: center;
	margin: 40px 0px;
}

.footer > ul > li {
	display: inline-block;
}

.footer > ul > li:not(:first-child):before {
	content: " ・ ";
}

.footer > ul > li > a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	line-height: 18px;
}

/* ************** */

@media screen and (max-width: 580px) {
	.container {
		width: 90%;
	}

	.question {
		text-align: left;
	}

	.answer {
		padding: 10px 5px;
	}

	.footer>ul>li {
		display: block;
		width: 100%;
		text-align: left;
		height: 50px;
	}

	.footer > ul > li:not(:first-child):before {
		content: "";
	}
}