footer
  ul
    li
      a(href='/') HOME
    li
      a(href='/faq.html') FAQ
    li
      a(href='https://github.com/whats-this/transparency') TRANSPARENCY
    li
      a(href='https://github.com/whats-this') GITHUB
    li
      a(href='https://owo.whats-th.is/ce8eab.asc') DONATE
    li
      <a href="&#109;ailto&#58;&#100;evs&#64;&#37;77ha&#116;&#115;&#45;%74h&#46;is">CONTACT</a>
