block variables
doctype html
html
  head
    title owo &middot; #{htmlTitle}

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    meta(content='Whats This?', name='author')
    meta(content='POMF compatible Node.js file host.', name='description')
    meta(content='file, hosting, service, filehost', name='keywords')

    meta(content="https://avatars0.githubusercontent.com/u/24387706?v=3&amp;s=280", property="og:image")
    meta(content='en_US', property='og:locale')
    meta(content='Whats This?', property='og:site_name')
    meta(content='POMF compatible Node.js file host.', property='og:description')
    meta(content='website', property='og:type')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
    link(rel='stylesheet', href='/assets/css/styles.css')
    link(rel='icon', type='image/png', href='/assets/img/favicon.png')

  body
    .content-box
      .page-content
        include ../partials/_header.pug
        block content
      include ../partials/_footer.pug
    block scripts
